* {
  box-sizing: border-box;
}

body {
  background-color: tr;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 0;
  overflow: hidden;
  min-width: 700px;
  min-height: 400px;
  
}

h1 {
  margin: 20px 0 0;
}

.game-container {
  height: 350px;
  width: 450px;
}

.figure-container {
  fill: transparent;
  stroke: #2980b9;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}

.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.popup-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #2980b9;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}


.end{

  text-align: center;
  position: absolute;
  top: 10px;
  left: 200px;
margin: 0 ;
}